//sizes
$extra-small: 8px;
$small: 10px;
$medium: 12px;
$large: 14px;
$extra-large: 16px;


//colors
$gray: #7D7D7D; 
$dark-gray: #9E9B9B;
$light-gray: #F9F9F9;
$black: #000000;
$blue: #005387;
$blueviolet: #8A2BE2;
$light-blue: #C5ECF7;
$white: #FFFFFF;
$yellow :#FFFF00;
$light-yellow: #FEF8E8;
$cyan: #74EDB5;
$heather: #9FACE6;
$sand-yellow: #F4D1A6;
$sea-blue: #009bb4;