//sizes
$extra-small: 8px;
$small: 10px;
$medium: 12px;
$large: 14px;
$extra-large: 16px;


//colors
$color-primary: #F9F9F9;
$gray: #7D7D7D; 
$dark-gray: #9e9b9b;
$light-gray: #F9F9F9;
$black: #000000;
$blue: #005387;
$blueviolet: #8A2BE2;
$light-blue: #C5ECF7;
$white: #FFFFFF;
$yellow :#FFFF00;
$light-yellow: #FEF8E8;
