.userItemContainer {
  display: flex;
  max-height: 100px;
}

.userImgWrapper {
  max-width: 100px;
  flex: 1;
}

.userImg {
  width: 100%;
}

.userInfo{
  flex: 2;
  display: flex;
  flex-direction: column;
  margin : 0;
  padding: 0;
}