@import "utilities/variables";

.chatContainer {
  background-color: $blueviolet;
  box-sizing: border-box;
  height: 100vh;
  padding: 30px;
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}