@import "utilities/variables";

.chatBox {
  background: linear-gradient(180deg, $cyan 0%, $heather 100%);
  opacity: 0.9;
  padding: 0;
  margin: 0;
  flex: 10;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messages {
  display: flex;
  flex-direction: column;
  padding-right: 9%;
  padding-left: 9%;
  margin-top: $small;

  &User1 {
    border: 3px solid $light-yellow;
    background-color: $light-yellow;
    max-width: 65%;
    padding: 6px 7px 8px 9px;
    border-radius: 0 7.5px 7.5px 7.5px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 20px;
    margin-bottom: $small;
  }

  &User2 {
    border: 3px solid $light-blue;
    background-color: $light-blue;
    max-width: 65%;
    padding: 6px 7px 8px 9px;
    align-self: flex-end;
    border-radius: 7.5px 0 7.5px 7.5px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 20px;
    margin-bottom: $small;
  }
}

